<! DOCTYPE html>
<html>
    <head>
        <title>Car-O-Holic</title>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="C:/Users/Yash/Desktop/New folder (2)/TODO List/assets/css/todos.css"> -->


    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand mb-0 h1" href="/" style="font-family: Ubuntu;"><img src="../../brandLogo.jpg" width="40" height="35" style="margin-right: 4px;" class="d-inline-block align-top" alt="">Car-O-Holic</a>
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Common Brands
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/brands/maruti">Maruti Suzuki</a>
                  <a class="dropdown-item" href="/brands/hyundai">Hyundai</a>
                  <a class="dropdown-item" href="/brands/honda">Honda</a>
                  <a class="dropdown-item" href="/brands/ford">Ford</a>
                  <a class="dropdown-item" href="/brands/Tata">Tata</a>
    						  <a class="dropdown-item" href="/brands/toyota">Toyota</a>

                </div>
              </div>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Luxury Brands
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/brands/skoda">Skoda</a>
                  <a class="dropdown-item" href="/brands/audi">Audi</a>
                  <a class="dropdown-item" href="/brands/bmw">BMW</a>
                  <a class="dropdown-item" href="/brands/mercedes">Mercedes-Benz</a>
    
                </div>
              </div>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other Brands
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/brands/volkswagen">Volkswagen</a>
                  <a class="dropdown-item" href="/brands/renault">Renault</a>
                  <a class="dropdown-item" href="/brands/nissan">Nissan</a>
                  <a class="dropdown-item" href="/brands/mahindra">Mahindra</a>
                  <a class="dropdown-item" href="/brands/kia">Kia</a>
						      <a class="dropdown-item" href="/brands/mg">Morris Garages</a>
                </div>
                </div>
            
              </nav>