<%- include ("partials/header") %>
<div class="container" style="margin-top: 10px;">
    <h3 style="text-align: center;">Popular Car Brands</h3>
    <hr>
    <div class="d-flex flex-row bd-highlight mb-3">
        <a href="/brands/maruti"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px; ">
        <img src="maruti.jpg" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
            <figcaption style="text-align: center; font-weight: 800; font-size:17px; color: black;">Maruti Suzuki</figcaption>
          </figure></a>
          <a href="/brands/hyundai"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
        <img src="hyundai.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
            <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Hyundai</figcaption> 
            </figure></a>
            <a href="/brands/honda">
            <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
                <img src="honda.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                    <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Honda</figcaption>
                  </figure></a>
                  <a href="/brands/ford">
                  <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
                    <img src="ford.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                        <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Ford</figcaption>
                  </figure></a>
    </div>
    <hr>
    <div class="d-flex flex-row bd-highlight mb-3">
      <a href="/brands/tata"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
      <img src="tata.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
          <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Tata</figcaption>
        </figure></a>
        <a href="/brands/mahindra"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
      <img src="mahindra.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
          <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Mahindra</figcaption> 
          </figure></a>
          <a href="/brands/renault">
          <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
              <img src="renault.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                  <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Renault</figcaption>
                </figure></a>
                <a href="/brands/nissan">
                <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
                  <img src="nissan.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                      <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Nissan</figcaption>
                </figure></a>
  </div>
  <hr>
  <div class="d-flex flex-row bd-highlight mb-3">
    <a href="/brands/skoda"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
    <img src="skoda.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
        <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Skoda</figcaption>
      </figure></a>
      <a href="/brands/volkswagen"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
    <img src="volkswagen.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
        <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Volkswagen</figcaption> 
        </figure></a>
        <a href="/brands/kia">
        <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
            <img src="kia.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Kia</figcaption>
              </figure></a>
              <a href="/brands/mg">
              <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
                <img src="mg.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                    <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">MG</figcaption>
              </figure></a>
</div>
<hr>
<div class="d-flex flex-row bd-highlight mb-3">
  <a href="/brands/toyota"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
  <img src="toyota.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
      <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Toyota</figcaption>
    </figure></a>
    <a href="/brands/audi"><figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
  <img src="audi.jpg" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
      <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Audi</figcaption> 
      </figure></a>
      <a href="/brands/bmw">
      <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
          <img src="bmw.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
              <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">BMW</figcaption>
            </figure></a>
            <a href="/brands/mercedes">
            <figure class="figure" style="margin-right: 70px; padding-bottom: 30px;">
              <img src="mercedes.png" alt="image not available" style="width: 150px; height: 100px; margin: 20px;">
                  <figcaption style="text-align: center; font-weight: 800; font-size:17px; color:black;">Mercedes</figcaption>
            </figure></a>
</div>
    
    
</div>



<%- include ("partials/footer") %>
